## Build results
bin/
obj/
out/
TestResults/
*.ncrunch*
*.coverage*
*.coveragexml

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider, ReSharper, VS Code, VS
.idea/
.vscode/
.vs/
riderModule.iml
/_ReSharper.Caches/

## NuGet packages
/packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET Core environment files
appsettings.*.json
secrets.json

## Database files
*.db
*.sqlite

## Others
*.log
*.tmp

# Docker
**/Dockerfile.*
**/docker-compose*.yml
.dockerignore
docker-compose.override.yml
docker-compose.debug.yml
docker-compose.prod.yml
docker-compose.test.yml

# Docker çalışma dosyaları
**/.docker/
**/docker-data/
**/docker-volumes/
**/docker-entrypoint.d/